<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.godochurch.hispeople"
        versionCode = "121"
        version   = "2.0.7">

  <name>His People</name>

  <description>
   Church administration made easy
  </description>

  <author href="http://phonegap.com" email="support@gododata.com">
    GoDo Team
  </author>

 

  <gap:config-file platform="ios" parent="CFBundleVersion">
    <string>2.0.7</string>
  </gap:config-file>

  <gap:config-file platform="ios" parent="CFBundleShortVersionString">

    <string>207</string>

  </gap:config-file>

  <preference name="permissions"                value="none"/>

  <preference name="splash-screen-duration" value="3000" />
  <preference name="phonegap-version"  value="cli-5.2.0" />
  <preference name="orientation"                value="portrait" />
  <preference name="fullscreen"                 value="false" />
  <preference name="target-device"              value="universal" />
  <preference name="prerendered-icon"           value="true" />
  <preference name="ios-statusbarstyle"         value="black-opaque" />
  <preference name="detect-data-types"          value="true" />
  <preference name="exit-on-suspend"            value="false" />
  <preference name="android-minSdkVersion"      value="7" />
  <preference name="android-installLocation"    value="internalOnly" />
  <preference name="auto-hide-splash-screen"    value="false" />

  <gap:plugin name="com.phonegap.plugin.statusbar" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <gap:plugin name="com.phonegap.plugins.pushplugin" />
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.device-motion" />
  <gap:plugin name="org.apache.cordova.device-orientation" />
  <gap:plugin name="org.apache.cordova.geolocation" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.inappbrowser"  />
  <gap:plugin name="org.apache.cordova.media"  />
  <gap:plugin name="nl.x-services.plugins.socialsharing" />
<gap:plugin name="tr.bel.mamak.sms_plagin"  />
  <gap:plugin name="com.hutchind.cordova.plugins.streamingmedia"  />
  <gap:plugin name="org.apache.cordova.camera"  />
  <gap:plugin name="com.phonegap.plugins.barcodescanner"  />
  <plugin name="cordova-plugin-whitelist" />
    
 
  
  
  <!--<feature name="http://api.phonegap.com/1.0/device" />-->
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true" />
  </feature>


  <icon src="img/icon.png" />


  <icon src="img/ios/icon120x120.png" gap:platform="ios" width="120" height="120" />
  <icon src="img/ios/icon152x152.png" gap:platform="ios" width="152" height="152" />
  <icon src="img/ios/icon76x76.png" gap:platform="ios" width="76" height="76" />
  <icon src="img/ios/icon1024x1024.png" gap:platform="ios" width="1024" height="1024" />
  <icon src="img/ios/icon57x57.png" gap:platform="ios" width="57" height="57" />
  <icon src="img/ios/icon72x72.png" gap:platform="ios" width="72" height="72" />

  <icon src="img/android/icon-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
  <icon src="img/android/icon-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
  <icon src="img/android/icon-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
  <icon src="img/android/icon-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />

  <!-- Define app splash screen for each platform. -->
  <gap:splash src="img/splash.png" />

  <gap:splash src="img/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" />
  <gap:splash src="img/ios/splash640x960.png" gap:platform="ios" width="640" height="960" />
  <gap:splash src="img/ios/splash1536x2048.png" gap:platform="ios" width="1536" height="2048" />
  <!-- retina iPad support: PhoneGap 2.5.0+ only -->
  <gap:splash src="img/ios/splash2048x1536.png" gap:platform="ios" width="2048" height="1536" />
  <gap:splash src="img/ios/splash768x1024.png" gap:platform="ios" width="768" height="1024" />
  <gap:splash src="img/ios/splash1024x768.png" gap:platform="ios" width="1024" height="768" />
  <gap:splash src="img/ios/splash320x480.png" gap:platform="ios" width="320" height="480" />



  <gap:splash src="img/android/splash-all.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="img/android/splash-all.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="img/android/splash-all.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="img/android/splash-all.png" gap:platform="android" gap:density="xhdpi" />


  <access origin="*"/>


</widget>
